
.idea/.name

.idea/assess2.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

bottle.pyc

*.pyc

plot.pyc

bottle.pyc

export_xls.pyc

fit.pyc

kcalc.pyc

methods.pyc

plot.pyc

functions.pyc

latex_render.pyc

draw_tree.pyc

equations/*.png

.idea/jsLibraryMappings.xml

.idea/templateLanguages.xml

*.xlsx

Thumbs.db
